@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



.container {
height: 200vh;
background: radial-gradient(ellipse at bottom,rgb(24, 24, 24) 0%, rgba(0,0,0,1) 100%);
}

.NameAnimation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  z-index:10
}

